
window {
    margin: 0px;
    border: 1px solid @color_primary;
    background-color: @color_bg;
    border-radius: 8px;
}

#input {
    padding: 4px 8px;
    margin: 6px;
    color: @color_text_light;
    background-color: @color_alt_bg;
    border: 1px solid @color_primary;
    border-radius: 4px;
}

#inner-box {
    background-color: @color_bg;
}

#outer-box {
    margin: 4px;
    padding: 4px;
    background-color: @color_bg;
}

#scroll {
    margin: 0px;
    padding: 4px;
}

#text {
    margin: 2px 8px;
    color: @color_primary;
}

#entry {
    border-radius: 4px;
}

#entry:selected {
    background-color: @color_alt_bg;
    border: 1px solid @color_primary;
}

#text:selected {
    color: @color_tertiary;
}
