@import url("colors.css");

window {
    margin: 0px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-bg);
    border-radius: 8px;
}

#input {
    padding: 4px 8px;
    margin: 6px;
    color: var(--color-text_light);
    background-color: var(--color-alt_bg);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

#inner-box {
    background-color: var(--color-bg);
}

#outer-box {
    margin: 4px;
    padding: 4px;
    background-color: var(--color-bg);
}

#scroll {
    margin: 0px;
    padding: 4px;
}

#text {
    margin: 2px 8px;
    color: var(--color-primary);
}

#entry {
    border-radius: 4px;
}

#entry:selected {
    background-color: var(--color-alt_bg);
    border: 1px solid var(--color-primary);
}

#text:selected {
    color: var(--color-tertiary);
}
